{% extends 'base.html' %}
{% block title %} Наши котики {% endblock %}
{% block body %}
    <h1>Самый пушистый каталог</h1>
    <div class="container" style="margin: 5px">
      <nav class="navbar navbar-expand-sm navbar-light">
        <form method="post" style="display: inline">
            <input type="text" placeholder="Поиск по параметрам" name="query" style="width: 550px" >
            <input type="submit" class="btn btn-primary"  style="margin: 5px">
        </form>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Сортировка</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ modify_query(sort="relevance") }}">Релевантность</a></li>
              <li><a class="dropdown-item" href="{{ modify_query(sort="breed") }}">Порода</a></li>
              <li><a class="dropdown-item" href="{{ modify_query(sort="age") }}">Возраст</a></li>
            </ul>
          </li>
        </ul>
        <a class="btn btn-light" href="{{ modify_query(how="asc") }}" style="margin: 5px">По возрастанию</a>
        <a class="btn btn-light" href="{{ modify_query(how="desc") }}" role="button">По убыванию</a>
      </nav>
    </div>
    {% if cats %}
        {% for cat in cats.items %}
            <div class="alert alert-info">
                <div>
                    <h3>{{ cat.name }}</h3>
                    <p>{{ cat.breed }}, {{ cat.age }} месяцев</p>
                </div>
                <div>
                    <a href="/cats/cat_{{ cat.id }}" class="btn btn-success">Подробнее</a>
                    <a href="/delete/cat_{{ cat.id }}" class="btn btn-danger" style="float: right" >Удалить</a>
                    <a href="/update/cat_{{ cat.id }}" class="btn btn-warning" style="float: right; margin-inline: 5px" >Обновить</a>
                </div>
            </div>
        {% endfor %}
    {% elif flag=="no_query" %}
        <div class="alert alert-warning">
            <h2>Поисковый запрос пустой</h2>
            <p>Пожалуйста, попробуйте введите запрос</p>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <h2>Мы не нашли похожих котиков :(</h2>
            <p>К сожалению, нам не удалось найти котиков по Вашему запросу</p>
            <p>Пожалуйста, попробуйте ввести другой запрос</p>
        </div>
    {% endif %}
{% if cats.has_prev %}
    <a href="{{ url_for('cats' if request.endpoint == 'cats' else 'search', page=cats.prev_num) }}" class="btn btn-primary">Предыдущая страница</a>
{% else %}<button type="button" class="btn btn-primary" disabled>Предыдущая страница</button>
{% endif %}

{% if cats.has_next %}
    <a href="{{ url_for('cats' if request.endpoint == 'cats' else 'search', page=cats.next_num, **request.args.to_dict()) }}" class="btn btn-primary">Следующая страница</a>
{% else %}<button type="button" class="btn btn-primary" disabled>Следующая страница</button>
{% endif %}
{% endblock %}